<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<script src="/socket.io/socket.io.js"></script>
<script>
(function () {
    var host = 'http://clonn.info:3001',
        socket;

    window.onload = functioon () {

        socket = io.connect(host);

        socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
        });
    };

})();
</script>
