<!DOCTYPE html>
<html>
  <head>
    <title>Node.js Taiwan Party 8 - Codegen</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (!user) { %>
        <p>
        <a href="/">Home</a> | 
        <a href="/login">Log In</a>
        </p>
    <% } else { %>
        <p>
        <a href="/">Home</a> | 
        <a href="/account">Account</a> | 
        <a href="/chat">Chat</a> | 
        <a href="/logout">Log Out</a>
        </p>
    <% } %>
    <%- body %>
  </body>
</html>
